.header {
    font-size: 24px;
    padding: 25px;
    margin-bottom: 20px;
    background-color: cornflowerblue;
}

.front-end-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.des-moines-image {
    height:250px;
    width:550px;
    border-radius: 8px;
}

.image-source {
    font-size: 8px;
    margin-bottom: 14px;
}

.inputs-container {
    justify-self: center;
    width: 800px;
    height: 250px;
    border-radius: 5px;
    border: solid lightgray;
    margin-bottom: 15px;
}

.input-directions {
    background-color:cornflowerblue;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.data-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input {
    margin: 10px 10px;
    width: 220px;
}

.submit {
    align-self: center;
    max-width: 300px
}

.result-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 350px;
}

.result-title {
    padding: 5px;
    background-color: cornflowerblue;
    border-radius: 2px;
    border: solid lightgray;
    width: 150px;
}

.result-prediction {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    border: solid lightgray;
    border-left: none;
    width: 200px;
}